.bubble{
	width:200px;
	margin:20px 0 20px 20px;
	padding:10px;
	border:1px solid #f2f322;
	border-radius:5px;
	line-height:20px;
	position:relative;
	background:#f2f2f2;
	&:before{
	  content:'';
	  width:20px;
	  height:20px;
	  border: inherit;
      background: inherit;
	  position:absolute;
	  top: 18px;
      left: -20px;
      transform: rotate(-15deg) skew(60deg);
      z-index: -10;
      transform-origin: 0 0;
	}
	 &:after{
    content: '';
    width: 10px;
    height: 9px;
    background: inherit;
    position: absolute;
    left: -1px;
    top: 14px;
  }
}



// bubble2
$white: #fff;
$flat:#FEE855;
$dark:#363636;
$sky:#5A98FA;
$yellow:#FDE775;
$mint:#C6DD8F;
#message_list {
	background-color: $white;
	padding: 0.5rem 0.5rem 2.75rem;
	height: 100%;
	box-sizing: border-box;
	position: absolute;
	li {
		display: block;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background-color: $flat;
		font-size: 0.8rem;
		color: $dark;
		position: relative;
		line-height: 1.25rem;
		min-height: 2rem;
		//.radius;
		&.sp {
			padding: 0;
			background-color: transparent;
			text-align: center;
			font-size: 0.6rem;
			min-height: auto;
		}
		&.left, &.right {
			color: $white;
			&:after {
				width: 0;
				height: 0;
				border-style: solid;
				display: block;
				content: '';
				position: absolute;
				top: 0.5rem;
			}
			.icon {
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				font-size: 1.5rem;
				text-align: center;
				// .fl;
			}
		}
		&.right {
			margin-left: 2rem;
			background-color: $sky;
			&:after {
				border-width: 0.5rem 0 0.5rem 0.75rem;
				border-color: transparent transparent transparent $sky;
				right: -.5rem;
			}
			.icon {
				margin: 0 0.25rem 0 -.5rem;
			}
		}
		&.left {
			color: $dark;
			margin-right: 2rem;
			background-color: $flat;
			&:after {
				border-width: 0.5rem 0.75rem 0.5rem 0;
				border-color: transparent $flat transparent transparent;
				left: -.5rem;
			}
			.icon {
				margin: 0 0.25rem 0 -.5rem;
			}
		}
	}
	a {
		font-size: 0.8rem;
	}
	.icon {
		margin: 0 0.25rem;
		// .color;
	}
	.ctrl {
		margin-top: 0.5rem;
		padding: 0.5rem 0 0;
		border-top: 1px dotted $flat;
		//.clear;
		span.icon {
			display: inline-block;
			font-size: 1.25rem;
			// .fr;
		}
	}
	.panel {
		padding: 0 .5rem;
		background-color: $white;
		margin-bottom: .5rem;
		.header {
			font-size: .8rem;
			padding: 1rem 0 .75rem;
			border-bottom: 1px dotted $flat;
			// .clear;
			& > span {
				color: $dark;
				padding-left: .5rem;
				line-height: 1rem;
				display: block;
				border-left: .15rem solid $mint;
				// .fl;
			}
			&.yellow > span {
				border-left: .15rem solid $yellow;
			}
			a.more {
				// .fr;
				.icon {
					position: relative;
					top: .1rem;
				}
			}
			.code_status {
				margin-left: .5rem;
				.icon {
					position: relative;
					top: .1rem;
				}
			}
		}
	}
}


