.bubble {
  width: 200px;
  margin: 20px 0 20px 20px;
  padding: 10px;
  border: 1px solid #f2f322;
  border-radius: 5px;
  line-height: 20px;
  position: relative;
  background: #f2f2f2; }
  .bubble:before {
    content: '';
    width: 20px;
    height: 20px;
    border: inherit;
    background: inherit;
    position: absolute;
    top: 18px;
    left: -20px;
    transform: rotate(-15deg) skew(60deg);
    z-index: -10;
    transform-origin: 0 0; }
  .bubble:after {
    content: '';
    width: 10px;
    height: 9px;
    background: inherit;
    position: absolute;
    left: -1px;
    top: 14px; }

#message_list {
  background-color: #fff;
  padding: 0.5rem 0.5rem 2.75rem;
  height: 100%;
  box-sizing: border-box;
  position: absolute; }
  #message_list li {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #FEE855;
    font-size: 0.8rem;
    color: #363636;
    position: relative;
    line-height: 1.25rem;
    min-height: 2rem; }
    #message_list li.sp {
      padding: 0;
      background-color: transparent;
      text-align: center;
      font-size: 0.6rem;
      min-height: auto; }
    #message_list li.left, #message_list li.right {
      color: #fff; }
      #message_list li.left:after, #message_list li.right:after {
        width: 0;
        height: 0;
        border-style: solid;
        display: block;
        content: '';
        position: absolute;
        top: 0.5rem; }
      #message_list li.left .icon, #message_list li.right .icon {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        text-align: center; }
    #message_list li.right {
      margin-left: 2rem;
      background-color: #5A98FA; }
      #message_list li.right:after {
        border-width: 0.5rem 0 0.5rem 0.75rem;
        border-color: transparent transparent transparent #5A98FA;
        right: -.5rem; }
      #message_list li.right .icon {
        margin: 0 0.25rem 0 -.5rem; }
    #message_list li.left {
      color: #363636;
      margin-right: 2rem;
      background-color: #FEE855; }
      #message_list li.left:after {
        border-width: 0.5rem 0.75rem 0.5rem 0;
        border-color: transparent #FEE855 transparent transparent;
        left: -.5rem; }
      #message_list li.left .icon {
        margin: 0 0.25rem 0 -.5rem; }
  #message_list a {
    font-size: 0.8rem; }
  #message_list .icon {
    margin: 0 0.25rem; }
  #message_list .ctrl {
    margin-top: 0.5rem;
    padding: 0.5rem 0 0;
    border-top: 1px dotted #FEE855; }
    #message_list .ctrl span.icon {
      display: inline-block;
      font-size: 1.25rem; }
  #message_list .panel {
    padding: 0 .5rem;
    background-color: #fff;
    margin-bottom: .5rem; }
    #message_list .panel .header {
      font-size: .8rem;
      padding: 1rem 0 .75rem;
      border-bottom: 1px dotted #FEE855; }
      #message_list .panel .header > span {
        color: #363636;
        padding-left: .5rem;
        line-height: 1rem;
        display: block;
        border-left: 0.15rem solid #C6DD8F; }
      #message_list .panel .header.yellow > span {
        border-left: 0.15rem solid #FDE775; }
      #message_list .panel .header a.more .icon {
        position: relative;
        top: .1rem; }
      #message_list .panel .header .code_status {
        margin-left: .5rem; }
        #message_list .panel .header .code_status .icon {
          position: relative;
          top: .1rem; }

/*# sourceMappingURL=style.css.map */
