.hr {
    width: 100%;
    height: 2px;
    margin: 20px auto;
}
h3{
    font-size:24px;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
/*header*/
header{
    background: url(../img/banner2.jpg) fixed no-repeat;
    background-size:cover;
}
nav{
    height:50px;
    background:transparent;
}
nav .logo{
    float:left;
    display:inline-block;
    line-height:50px;
    letter-spacing: 5px;
    font-weight:700;
    color: #fff;;
    margin-left:20px;
}
nav ul {
    list-style: none;
    margin:0;
    float:right;
}
nav ul li{
    display:inline-block;
    float:left;
    line-height:50px;
    margin:auto 10px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    /* margin:auto 10px;*/
}
#banner {
    height: 700px;
    background: rgba(255, 255, 255, 0.05);
}
#banner .inner {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 250px;
    text-align: center;
}

 #banner .inner p {
    margin: 0;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
}
#banner .inner h1{
    margin: 0 auto;
    width:50%;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
    border-top:1px solid #555555;
    border-bottom:1px solid #555555;
}
#banner .inner button {
    border: none;
    padding: 15px 30px;
    position: relative;
    top: 20px;
    background: rgba(252, 66, 66, 0.94);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#banner .inner .more{
    position:relative;
    top:140px;
    left:200px;
    font-size:20px;
    font-weight:bold;
    color: #4f51ff;
}
#banner .icon {
    margin-top: 250px;
}
/*content*/

.green-section {
    text-align: center;
    background-color:#089DB0;
    color:#fff;
    padding:100px 0;
}
.wrapper{
    max-width:1080px;
    margin:0 auto;
}
.green-section .hr{
    background:#078494;
    width:60%;
}
.icon-group{
    margin-top:60px;
}
.green-section .icon-group .icon{
    display:inline-block;
    width:80px;
    height:80px;
    background-color: #0D6F7C;
    transform: rotate(45deg);
    margin:20px;
}


.gray-section{
    background-color: #252f34;
    color: #fff;
}

.gray-section .article-preview{
    font-size:0;
}
.gray-section .img-section{
    width:45%;
}

.img-section img{
    width:100%;
}
.gray-section .text-section{
    width:55%;
}
.article-preview > div {
    float: left;
}
.article-preview:after{
    content:"";
    display: block;
    clear:both;
}
.article-preview:nth-child(odd){
    background-color:rgba(255,255,255,0.05);
}
.gray-section .text-section {
position:relative;
top:68px;
left:50px;
}
.gray-section .text-section h1{
margin-bottom:20px;
}
.text-section .sub-heading{
font-size:22px;
margin-top:0;
}
.text-section{
font-size:18px;
letter-spacing: 1px;
}
.text-section > *{
max-width: 80%;
}

.purple-section {
    padding:80px;
   /* background: #BA47F2;*/
    background: #3f3965;
    color: #fff;
}
.purple-section .heading-wrapper{
    text-align:center;
}
.purple-section .sub-heading{
    border-top:2px solid #373259;
    padding:30px;
}
.card {
    float: left;
    width: 50%;
    min-height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   /* border:1px solid white;*/
    padding:50px;
}
.card p{
    font-size:18px;
    letter-spacing:1px;
}
.card:first-child{
    background:rgba(0,0,0,0.02);
}

.card:nth-child(2){
    background:rgba(0,0,0,0.04);
}

.card:nth-child(3){
    background:rgba(0,0,0,0.06);
}

.card:nth-child(4){
    background:rgba(0,0,0,0.08);
}

.card:nth-child(5){
    background:rgba(0,0,0,0.1);
}

.card:nth-child(6) {
    background: rgba(0, 0, 0, 0.12);
}
footer{
    background:#333;
    min-height:150px;
    text-align: center;
}
footer ul{
    margin:0;
    padding:50px;
}
ul.share-group{
    width:1080px;
    pargin:0 auto;
}
ul i{
    display:inline-block;
    padding:15px;
}
footer .copy {
    margin: 30px auto;
}

