?/* CSS Document
Use for:
Version:
Date:
Author:	ou
Update:
*/

/* CSS 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,span, object, iframe, button{ padding:0; margin:0; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset, img{ border:0; }
ol, ul{ list-style:none; }
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:100%; }
q:before, q:after{ content:''; }
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix{ display:block; zoom:1; }
.clear{ display:block; clear:both; }

/* ----- 通用 ----- */
body{ font:14px/1.8 "Microsoft YaHei", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#666; }
a{ color:#666; text-decoration:none; }
a:hover{ color:#666; text-decoration:none; }

.wrapper{ width:1002px; margin:0 auto; }
.txt-ghost{ text-indent:-999em; }

/* 图标 */
.icon{ display:inline-block; overflow:hidden; background-image:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png"); background-repeat:no-repeat; }
.icon-user, .icon-cart{ width:30px; height:29px; overflow:hidden; background-position:0 -31px; }
.icon-cart{ background-position:-30px -31px; }
.icon-design, .icon-device, .icon-platform, .icon-software{ width:20px; height:20px; overflow:hidden; }
.icon-design{ background-position:0 -60px; }
.icon-device{ background-position:-20px -60px; }
.icon-platform{ background-position:-40px -60px; }
.icon-software{ background-position:-60px -60px; }

/* ----- 头部 ----- */
.header{ height:82px; line-height:82px; background:#fff; border-bottom:1px dotted #d1d1d2;position: relative;*z-index:100;
    /*overflow: hidden;*/ }
.header .wrapper{ position:relative; height:100%; }
.header .logo{ display:inline; float:left; width:196px; height:31px; overflow:hidden; margin:27px 0 0 10px; background:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png") no-repeat 0 0; }
.header .logo a{display: block;width: 100%;height: 100%;text-indent:-9999px;}

.mainnav{ position:absolute; right:0; top:0; height:100%; border-left:1px dotted #d1d1d2; }
.mainnav li{float: left;display: inline;}
.mainnav a{ float:left; width:104px; height:100%;font-size:16px; text-align:center; color:#999; border-right:1px dotted #d1d1d2; }
.mainnav a:hover{ color:#5bd8d1;
    -webkit-transition:color .5s;
    -moz-transition:color .5s;
    -ms-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
.mainnav a.active{ color:#fff; background:#5bd8d1; }
.mainnav a.active:hover{ color:#fff; }

.mainnav .ext{ height:100%; position: relative;zoom:1; *z-index:100;display: inline-block;}
.mainnav .ext .user:hover .icon,.mainnav .ext .active .icon{;background-position: -168px -80px;}
.mainnav .ext .user.active{background:none;}
.mainnav .ext a{ float:left; width:100px; height:100%; border-right:0; font-size: 14px;}
.mainnav .ext .icon{ display:inline; float:left; margin:28px 0 0 35px; }
.mainnav .ext .arrow{ display:inline; float:left; width:30px; height:29px; overflow:hidden; margin:28px 0 0 0;  background:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png") no-repeat -120px -31px; }

.subnav{ position:relative; height:55px; text-align:center; background:#fafbfc; border-bottom:1px solid #e3e3e3; }
.subnav .wrapper{ position:absolute; left:50%; top:0; width:600px; height:56px; overflow:hidden; margin-left:-300px; }
.subnav a{ display:inline-block; height:52px; line-height:56px; overflow:hidden; padding:0 16px 0 12px; margin-right:4px; vertical-align:top; font-size:15px; color:#999;
    -webkit-transition:border .5s;
    -moz-transition:border .5s;
    -ms-transition:border .5s;
    -o-transition:border .5s;
    transition:border .5s;
}
.subnav a.active, .subnav a:hover{ border-bottom:4px solid #5bd8d1; }
.subnav a .icon{ float:left; position:relative; margin:18px 7px 0 0; _margin:18px 4px 0 0; }

/* ----- 底部 ----- */
.footer{ position:absolute; left:0; bottom:0; width:100%; height:78px; overflow:hidden; text-align:center; font-size:12px; line-height:18px; color:#7d7d7d; }
.footer .copyright{ margin-top:24px; }
.footer a:hover{text-decoration: underline;}

/* ----- 轮播 ----- */
.slider-wrap{ position:absolute; left:0; right:0; top:83px; bottom:78px; overflow:hidden; *width:100%; }
.slider-cons{ position:absolute; left:0; top:0; width:100%; height:100%; }
.slider-page{ position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; visibility:hidden; opacity:0; background:#fff; }
.slider-page-ie{ position:relative; display:inline; float:left; visibility:visible; opacity:1; }
.slider-page .wrapper{ position:relative; height:100%; }
.slider-page .chip{ position:absolute; }
.slider-page img{ position:absolute; left:0; top:0; width:100%; height:100%; }
.slider-page .detail{ position:absolute; left:40%; bottom:-20px; height:29px; line-height:29px; overflow:hidden; font-size:18px; color:#4bc4bd; vertical-align:top; }
.slider-page .detail .icon{ display:inline-block; width:29px; height:29px; overflow:hidden; vertical-align:top; background:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png") no-repeat 0 -80px; }

.slider-menus{ position:absolute; z-index:10; left:0; bottom:40px; width:100%; height:11px; text-align:center; }
.slider-menus a{ display:inline-block; width:20px; height:20px; overflow:hidden; line-height:52px; margin:0 5px; background:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png") no-repeat -120px -60px; }
.slider-menus a.active{ background-position:-140px -60px; }

/* 屏 1 */
.slider-0{  }
.slider-0 .chip-pen{ left:7%; bottom:8%; width:888px; height:68px; }
.slider-0 .chip-pad{ left:-28%; bottom:6%; width:1533px; height:461px; }
.slider-0 .chip-txt{ left:15%; bottom:64%; width:657px; height:147px; }
.slider-0 .detail{ bottom:-63px; }

/* 屏 2 */
.slider-1{  }
.slider-1 .chip-bg{ width:1920px; height:100%; left:50%; margin-left:-980px; background:#97c3ea; }
.slider-1 .chip-bg img{ top:auto; bottom:0; width:auto; height:auto; }
.slider-1 .chip-txt{ left:50%; top:15%; width:680px; height:246px; margin-left:-340px; }
.slider-1 .detail{ right:0; bottom:-63px; }

/* 屏 3 */
.slider-2{  }
.slider-2 .chip-pad{ display:none\0/; *display:none; right:-15%; bottom:6%; width:1204px; height:463px; opacity:0; }
.slider-2 .chip-pad-change{ right:44%; bottom:3%; width:1204px; height:595px; }
.slider-2 .chip-txt{ right:0; bottom:40%; width:401px; height:222px; }
.slider-2 .detail{ left:6px; bottom:-63px; }

/* ----- 滚屏 ----- */
.scroll-page-wrap{ position:absolute; left:0; right:0; top:83px; bottom:0; overflow:hidden; *width:100%; }
.scroll-cons{ position:absolute; left:0; top:0; width:100%; height:100%; }
.scroll-page{ position:relative; height:100%; overflow:hidden; visibility:hidden; }
.scroll-page .wrapper{ position:relative; height:100%; }
.scroll-page .chip{ position:absolute; }
.scroll-page img{ position:absolute; left:0; top:0; width:100%; height:100%; }

.scroll-menus{ _display:none; position:absolute; right:75px; top:50%; width:125px; height:240px; margin-top:-120px; }
.scroll-menus a{ float:right; clear:both; width:20px; height:20px; overflow:hidden; margin:10px 0; }
.scroll-menus .icon{ float:right; width:20px; height:20px; overflow:hidden; background:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png") no-repeat -80px -60px; }
.scroll-menus a.active .icon{ background-position:-100px -60px; }
.scroll-menus span{ float:right; width:90px; height:20px; overflow:hidden; line-height:20px; padding-right:15px; margin-left:-90px; text-align:right; white-space:nowrap; font-size:14px; color:#bdbdbd; }

.scroll-tips{ _display:none; position:absolute; left:50%; bottom:20px; width:20px; height:24px; margin-left:-10px; cursor: pointer;}
.scroll-tips span{ display:block; width:20px; height:12px; background-image:url("http://img5.91huo.cn/101/k12/images/bg-sprites2.png"); }
.scroll-tips .icon-arrow{ background-position:-28px -80px; }
.scroll-tips .icon-arrow-sub{ margin-top:-5px; background-position:-28px -92px; }
.scroll-tips-up span{background-image:url("http://img4.91huo.cn/101/k12/images/arrow2.png");}
.scroll-tips-up .icon-arrow{background-position: 0 0;}
.scroll-tips-up .icon-arrow-sub{background-position: 0 -12px;}

/* 屏 1 */
.s-page-0{}
.s-page-0 .chip-pen{ z-index:1; left:-12.5%; bottom:8%; width:319px; height:497px; }
.s-page-0 .chip-txt{ z-index:2; left:0; bottom:18%; width:532px; height:318px; overflow:hidden; text-indent:-999em; }
.s-page-0 .chip-pad{ right:-48%; bottom:18%; width:996px; height:722px; overflow:hidden; }
.s-page-0 .txt{ position:absolute; }
.s-page-0 .txt-0{ left:266px; top:135px; width:348px; height:326px; }
.s-page-0 .txt-1{ left:407px; top:113px; width:324px; height:271px; }
.s-page-0 .txt-2{ left:482px; top:40px; width:349px; height:260px; }
.s-page-0 .txt-3{ left:607px; top:-4px; width:330px; height:240px; }
.s-page-0 .txt-4{ left:770px; top:-20px; width:210px; height:183px; }

/* 屏 2 */
.s-page-1{}
.s-page-1 .chip-bg{ left:50%; width:1920px; height:972px; margin-left:-960px; }
.s-page-1 .chip-bg img{ position:static; display:block; width:auto; margin:0 auto; }
.s-page-1 .chip-title{ top:20%; width:100%; height:81px; }
.s-page-1 .chip-title img{ position:static; display:block; width:auto; margin:0 auto; }
.s-page-1 .chip-pad, .s-page-1 .chip-pic{ top:40%; left:50%; width:1311px; height:790px; margin-left:-655.5px; }
.s-page-1 .chip-pad img{ position:static; display:block; width:auto; margin:0 auto; }
.s-page-1 .chip-pic img{ position:static; display:block; width:998px; height:667px; margin:3% auto 0; }
.s-page-1 .chip-txt{ bottom:8%; width:100%; height:252px; }
.s-page-1 .chip-txt img{ position:static; display:block; width:auto; margin:0 auto; }

.s-page-ie .wrapper{ height:1530px; }
.s-page-ie .chip-title{ top:165px; }
.s-page-ie .chip-pad, .s-page-ie .chip-pic{ top:330px; }
.s-page-ie .chip-txt{ bottom:100px; }

/* 屏 3 */
.s-page-2{ background:#f7f7f7; }
.s-page-2 .chip-txt{ left:0; bottom:10%; z-index:1; width:576px; height:283px; }
.s-page-2 .chip-pad{ right:-48%; top:0; width:1045px; height:919px; }
.s-page-2 .chip-rotate{ right:31%; top:-1%; width:260px; height:764px; }

/* 屏 4 */
.s-page-3{}
.s-page-3 .chip-pad{ bottom:10%; left:-43%; width:544px; height:640px; }
.s-page-3 .chip-ctrl{ bottom:10%; left:17%; width:198px; height:640px; }
.s-page-3 .chip-arrows{ bottom:46%; left:12.2%; width:45px; height:20px; _padding-left:4px; }
.s-page-3 .arrow{ display:inline; float:left; width:14px; height:20px; margin-left:-4px; }
.s-page-3 .arrow img{ position:static; }
.s-page-3 .chip-txt{ bottom:10%; right:0; width:522px; height:403px; }

/* 屏 5 */
.s-page-4{ background:#f7f7f7; }
.s-page-4 .chip-pad{ top:0; left:0; width:1490px; height:575px; }
.s-page-4 .chip-txt{ bottom:10%; left:0; width:560px; height:322px; }
.s-page-4 .chip-light{ top:16%; left:27%; width:450px; height:75px; }
.s-page-4 .chip-light img{ position:static; display:inline; float:left; width:auto; height:100%; margin-right:20px; }

/* 屏 6 */
.s-page-5{ background:#5bd8d1; }
.s-page-5 .chip-pad{ bottom:0; right:-20%; width:1023px; height:727px; }
.s-page-5 .chip-pop{ bottom:49%; right:22%; z-index:1; width:269px; height:225px; }
.s-page-5 .chip-txt{ top:12%; left:0; width:352px; height:231px; }

/*About*/
.about_wrap{background: url("http://img6.91huo.cn/101/k12/images/about/banner_bg.jpg") no-repeat center top;}
.banner{height: 251px; background: url("http://img7.91huo.cn/101/k12/images/about/banner.jpg") no-repeat center top;}
.c_green{color: #5bd8d1;}
.about_wrap dt em{display: block; height: 20px; line-height: 20px; font-style: normal; font-size: 20px; padding-left:10px; border-left: 4px solid #5bd8d1; }
.about_wrap .intro{padding-top: 25px;}
.about_wrap dt{padding-bottom: 8px; border-bottom: 1px dotted #c4c4c4; margin-bottom: 18px;}
.intro_txt{font-size: 16px; color: #666; text-indent: 2em; padding-bottom: 18px;}
.intro_img{padding-bottom: 48px;}
.intro_img .intro_img2{margin-top: -7px;}
.contact_inner{padding-bottom: 28px;}
.contact_inner dt{font-size: 20px; color: #333; border: none; padding:0; margin:0;}
.contact_inner dd{font-size: 16px; color: #666;}
.cooperate dd{float: left; display: inline; padding-right: 172px;}
.contact_inner .map{ float: left; display: inline;}
.contact_inner .map{padding-top: 16px;}
.contact_inner .map1{padding-right: 9px;}
.inner_pagefoot{position: static; padding: 134px 0 55px; height: auto;}
.inner_pagefoot .copyright{margin: 0;}

/*服务条款*/
.serTerm_banner{background: url("http://img7.91huo.cn/101/k12/images/service_term/service_term_bg.jpg") center top no-repeat;}
.serTerm_banner .banner{height: 251px; background: url("http://img2.91huo.cn/101/k12/images/service_term/term_banner.jpg") center top no-repeat;}
.service_term{padding-top:26px;}
.service_term .mod_tit{border-bottom: 1px dotted #bcbcbc; padding-bottom: 14px;}
.mod .mod_tit {margin-bottom: 18px;}
.mod .mod_tit em {display: block;height: 20px;line-height: 20px;font-style: normal;font-size: 20px;padding-left: 10px;border-left: 4px solid #5bd8d1;}
.service_term .mod_con p{line-height: 28px;}
.service_term .mod_con .list_1{font-size:18px;}
.service_term .mod_con .list_2{padding-left: 31px;}
.service_term .mod_con .list_3{padding-left: 31px;}

/*菜单下拉*/
.cus_service{float: left;height: 100%;position: relative;zoom: 1;}
.ext_nav,.cus_service .service_menu{position: absolute;top: 82px;left: -1px;z-index: 100;border: 1px solid #eaeaea; _width: 100px;*line-height:0;}
.ext .ext_nav li,.service_menu li{width:100px;height:39px;border-top: 1px dotted #eaeaea; vertical-align: middle; background: #fff;overflow: hidden;}
.service_menu li{width:104px; *border-top: 1px solid #eee;}
.ext .ext_nav a,.service_menu li a{display: block;padding-left: 15px; width: 85px; height:39px; line-height:39px;background: #fff;text-align: left; color: #999;border-right: none;float: none;}
.service_menu li a{width: 94px;border: none; font-size: 14px;}
.ext .ext_nav a:hover,.service_menu li a:hover{color: #ff7612;}
.ext .ext_nav .btn_login{padding:0; width: 82px; height: 27px; line-height: 27px; color: #fff; text-align: center; margin:6px 0 0 9px;_margin-left:5px;}
.ext .ext_nav .btn_login:hover{color: #fff; background: #40cac2;}
.login_already .new_msg{display: inline-block;background: #ff7612; height: 15px; line-height: 15px; color: #fff; text-decoration: none; font-size: 12px; vertical-align: middle; padding: 0 4px; margin:-2px 0 0 7px; border-radius:10px;_margin:12px 5px;}

/*404页面*/
.btn_orange{background: #ff7612 !important;}
.btn_orange:hover{background: #ff6600 !important;}
.error_page{height: 430px; background: url("http://img6.91huo.cn/101/k12/images/error/404.jpg") 0 100px no-repeat;margin-top: 155px; position: relative;zoom: 1;}
.error_page .error_txt{font-size: 31px;color: #56cdc7;text-align: center;}
.error_page .notice_txt{font-size: 16px; color: #56cdc7;position: absolute;left: 208px; bottom:63px;}
.error_page .btn_return{display: inline-block;width: 118px; height: 42px; line-height: 42px; vertical-align: middle; color: #fff;font-size: 16px; text-align: center;margin: 0 10px;}

/* download by jiely 20141212 */
/* banner */
.dl_bannerwrap{ height:751px; background:#f9f4e9;}
.banner_con{ position:relative; zoom:1;}
.sun{ display:block; width:224px; height:212px; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 -125px; position:absolute; top:10px; right:-148px;}
.road{ display:block; width:988px; height:443px; background:url(http://img1.91huo.cn/101/k12/images/download/road.png) no-repeat; position:absolute; top:202px; left:-172px;}
.b_phone{ display:block; width:801px; height:485px; background:url(http://img3.91huo.cn/101/k12/images/download/phone_mode.png) no-repeat; position:absolute; top:220px; left:-203px;
    -webkit-animation: phone_shake 6s step-start infinite;

    -moz-animation: phone_shake 6s step-start infinite;

    -ms-animation: phone_shake 6s step-start infinite;

    animation: phone_shake 6s step-start infinite;
}
@-webkit-keyframes phone_shake{
    0%{ -webkit-transform:rotate(0deg); }
    0.3%{ -webkit-transform:rotate(2deg); }
    0.6%{ -webkit-transform:rotate(-2deg); }
    0.9%{ -webkit-transform:rotate(2deg); }
    1.2%{ -webkit-transform:rotate(-2deg); }
    1.5%{ -webkit-transform:rotate(2deg); }
    1.8%{ -webkit-transform:rotate(0deg); }
    25%{ -webkit-transform:rotate(0deg); }
    25.3%{ -webkit-transform:rotate(2deg); }
    25.6%{ -webkit-transform:rotate(-2deg); }
    25.9%{ -webkit-transform:rotate(2deg); }
    26.2%{ -webkit-transform:rotate(-2deg); }
    26.5%{ -webkit-transform:rotate(2deg); }
    26.8%{ -webkit-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(0deg); }
}
@-moz-keyframes phone_shake{
    0%{ -moz-transform:rotate(0deg); }
    0.3%{ -moz-transform:rotate(2deg); }
    0.6%{ -moz-transform:rotate(-2deg); }
    0.9%{ -moz-transform:rotate(2deg); }
    1.2%{ -moz-transform:rotate(-2deg); }
    1.5%{ -moz-transform:rotate(2deg); }
    1.8%{ -moz-transform:rotate(0deg); }
    25%{ -moz-transform:rotate(0deg); }
    25.3%{ -moz-transform:rotate(2deg); }
    25.6%{ -moz-transform:rotate(-2deg); }
    25.9%{ -moz-transform:rotate(2deg); }
    26.2%{ -moz-transform:rotate(-2deg); }
    26.5%{ -moz-transform:rotate(2deg); }
    26.8%{ -moz-transform:rotate(0deg); }
    100%{ -moz-transform:rotate(0deg); }
}
@-ms-keyframes phone_shake{
    0%{ -ms-transform:rotate(0deg); }
    0.3%{ -ms-transform:rotate(2deg); }
    0.6%{ -ms-transform:rotate(-2deg); }
    0.9%{ -ms-transform:rotate(2deg); }
    1.2%{ -ms-transform:rotate(-2deg); }
    1.5%{ -ms-transform:rotate(2deg); }
    1.8%{ -ms-transform:rotate(0deg); }
    25%{ -ms-transform:rotate(0deg); }
    25.3%{ -ms-transform:rotate(2deg); }
    25.6%{ -ms-transform:rotate(-2deg); }
    25.9%{ -ms-transform:rotate(2deg); }
    26.2%{ -ms-transform:rotate(-2deg); }
    26.5%{ -ms-transform:rotate(2deg); }
    26.8%{ -ms-transform:rotate(0deg); }
    100%{ -ms-transform:rotate(0deg); }
}
@keyframes phone_shake{
    0%{ transform:rotate(0deg); }
    0.3%{ transform:rotate(2deg); }
    0.6%{ transform:rotate(-2deg); }
    0.9%{ transform:rotate(2deg); }
    1.2%{ transform:rotate(-2deg); }
    1.5%{ transform:rotate(2deg); }
    1.8%{ transform:rotate(0deg); }
    25%{ transform:rotate(0deg); }
    25.3%{ transform:rotate(2deg); }
    25.6%{ transform:rotate(-2deg); }
    25.9%{ transform:rotate(2deg); }
    26.2%{ transform:rotate(-2deg); }
    26.5%{ transform:rotate(2deg); }
    26.8%{ transform:rotate(0deg); }
    100%{ transform:rotate(0deg); }
}
.b_slogantxt{ display:block; width:372px; height:124px; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 0; position:absolute; top:223px; right:-8px;}
.b_tip01{ display:block; width:190px; height:70px; opacity:0; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat right -340px; position:absolute; top:134px; left:94px;
    -webkit-animation: msg 6s ease-in-out 0.6s infinite;
    -moz-animation: msg 6s ease-in-out 0.6s infinite;
    -ms-animation: msg 6s ease-in-out 0.6s infinite;
    animation: msg 6s ease-in-out 0.6s infinite;
}
@-webkit-keyframes msg{
    0%{ opacity:0; width:0; }
    10%{ opacity:1; width:190px; }
    40%{ opacity:1; width:190px; }
    50%{ opacity:0; }
    100%{ opacity:0; }
}
@-moz-keyframes msg{
    0%{ opacity:0; width:0; }
    10%{ opacity:1; width:190px; }
    40%{ opacity:1; width:190px; }
    50%{ opacity:0; }
    100%{ opacity:0; }
}
@-ms-keyframes msg{
    0%{ opacity:0; width:0; }
    10%{ opacity:1; width:190px; }
    40%{ opacity:1; width:190px; }
    50%{ opacity:0; }
    100%{ opacity:0; }
}
@keyframes msg{
    0%{ opacity:0; width:0; }
    10%{ opacity:1; width:190px; }
    40%{ opacity:1; width:190px; }
    50%{ opacity:0; }
    100%{ opacity:0; }
}
.b_mark01{ display:block; width:30px; height:40px; opacity:0; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 -340px; position:absolute; top:186px; left:32px;
    -webkit-animation: loca_trans 6s ease-in-out infinite;
    -moz-animation: loca_trans 6s ease-in-out infinite;
    -ms-animation: loca_trans 6s ease-in-out infinite;
    animation: loca_trans 6s ease-in-out infinite;
}
.b_tip02{ display:block; width:190px; height:70px; opacity:0; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat -30px -410px; position:absolute; top:470px; right:490px;
    -webkit-animation: msg 6s ease-in-out 2.1s infinite;
    -moz-animation: msg 6s ease-in-out 2.1s infinite;
    -ms-animation: msg 6s ease-in-out 2.1s infinite;
    animation: msg 6s ease-in-out 2.1s infinite;
}

.b_mark02{ display:block; width:30px; height:40px; opacity:0; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 -410px; position:absolute; top:570px; left:494px;
    -webkit-animation: loca_trans 6s ease-in-out 1.5s infinite;
    -moz-animation: loca_trans 6s ease-in-out 1.5s infinite;
    -ms-animation: loca_trans 6s ease-in-out 1.5s infinite;
    animation: loca_trans 6s ease-in-out 1.5s infinite;
}
.b_tree{ display:block; width:40px; height:70px; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat -30px -340px; position:absolute; top:527px; left:275px;}
.dl_wrap{ display:block; width:448px; position:absolute; top:350px; right:-84px;}
.dl_wrap .dl_btns{ margin-top:34px; }
.dl_wrap em.e1{ display:block; width:448px; height:52px; line-height:52px; overflow:hidden; font-size:22px; color:#868686; font-style:normal;}
.dl_wrap a.dl_btn{ display:inline; float:left; height:54px; padding:0 20px 0 15px; margin-right:10px; line-height:54px; font-size:18px; color:#ffffff; overflow:hidden; background:#fe604c; }
.dl_wrap a.dl_btn ins{ position:relative; *top:-3px; display:inline-block; width:30px; height:40px; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle; margin:8px 12px 0 0; }
.dl_wrap a.dl_btn .dl_phone{ background-position:0 -480px; }
.dl_wrap a.dl_btn .dl_win{ background-position:-30px -480px; }
.dl_wrap a.dl_btn:hover{ background:#f3513d;}

/* 下载弹窗 */
.pop_dl{ display:none; position:fixed; _position:absolute; left:50%; top:50%; width:700px; height:306px; margin:-156px 0 0 -353px; overflow:hidden; border:3px solid rgba(0,0,0,0.2); *border:3px solid #d3cfc6; border:3px solid #d3cfc6\0; border:3px solid rgba(0,0,0,0.2)\0/; }
.pop_dl .close{ position:absolute; z-index:1; right:0; top:0; width:30px; height:30px; overflow:hidden; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 -520px; }
.pop_dl .close:hover{ background-position:-30px -520px; }
.pop_dl .pop_con{ position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; background:#fff; }
.pop_dl .title{ margin:35px 0 16px 64px; font-size:16px; color:#666; font-weight:bold;background:none;height:auto; }
.pop_dl .code_wrap{ display:inline; float:left; margin:0 95px 0 64px; padding-right:20px; border-right:1px solid #f2f2f2; }
.pop_dl .barcode{ display:inline; float:left; width:138px; height:138px; overflow:hidden; padding:10px; border:1px solid #f6f6f6; background:url(http://img5.91huo.cn/101/k12/images/download/barcode.gif) no-repeat center center; }
.pop_dl .btns{ display:inline; float:left; width:220px; padding-top:17px; }
.pop_dl .dl_btn{ display:block; height:54px; padding:0 20px 0 15px; margin-bottom:15px; line-height:54px; text-align:center; font-size:18px; color:#ffffff; overflow:hidden; background:#fe604c; }
.pop_dl .dl_btn ins{ position:relative; *top:-3px; display:inline-block; width:30px; height:40px; background:url(http://img4.91huo.cn/101/k12/images/download/banner_script_new.png) no-repeat 0 0; vertical-align:top; *vertical-align:middle; margin:8px 12px 0 0; }
.pop_dl .dl_btn .dl_ios{ background-position:-60px -480px; }
.pop_dl .dl_btn .dl_android{ background-position:-90px -480px; }
.pop_dl .dl_btn:hover{ background:#f3513d;}

/* 滚屏 */
.com_intro{ height:751px;}
.scroll_dlwhite{ background:#FFF;}
.scroll_dlgrey{ background:#fafafa;}
.c_right{ float:right;}
.c_left{ float:left;}
.sdl_con{ position:relative; zoom:1;}
.sdl_txtwrap01{ display:inline; width:501px; padding:236px 0 0;}
.sdl_txtwrap02{ display:inline; width:458px; padding:236px 0 0;}
.sdl_txtwrap01 h3, .sdl_txtwrap02 h3{ height:54px; line-height:54px; font-size:24px; color:#9c9c9c; overflow:hidden; font-weight:normal;}
.sdl_txtwrap01 h3, .sdl_txtwrap01 h2{ width:501px;}
.sdl_txtwrap02 h3, .sdl_txtwrap02 h3{ width:458px;}
.sdl_txtwrap01 h2, .sdl_txtwrap02 h2{ font-size:64px; line-height:70px; color:#333333; font-weight:normal; height:75px; padding:0 0 25px 0; overflow:hidden; }
.sdl_intro{ font-size:16px; color:#9c9c9c; line-height:26px;}
.bg_cloud{ display:block; width:391px; height:238px; background:url(http://img6.91huo.cn/101/k12/images/download/lunbo_script.png) no-repeat 0 0; position:absolute; top:265px; right:32px;}
.tip_cloud01{ display:block; width:105px; height:113px; background:url(http://img6.91huo.cn/101/k12/images/download/lunbo_script.png) no-repeat 0 -239px; position:absolute; top:215px; right:298px;
    -webkit-animation: tip_cloud01_move 3s ease-out infinite;
    -moz-animation: tip_cloud01_move 3s ease-out infinite;
    -ms-animation: tip_cloud01_move 3s ease-out infinite;
    animation: tip_cloud01_move 3s ease-out infinite;
}
@-webkit-keyframes tip_cloud01_move{
    0%{ -webkit-transform:translate(20px, 20px); opacity:0; }
    30%{ -webkit-transform:translate(0px, 0px); opacity:1; }
    65%{ -webkit-transform:translate(0px, 0px); opacity:1; }
    70%{ -webkit-transform:translate(0px, 0px); opacity:0; }
    100%{ -webkit-transform:translate(0px, 0px); opacity:0; }
}
@-moz-keyframes tip_cloud01_move{
    0%{ -moz-transform:translate(20px, 20px); opacity:0; }
    30%{ -moz-transform:translate(0px, 0px); opacity:1; }
    65%{ -moz-transform:translate(0px, 0px); opacity:1; }
    70%{ -moz-transform:translate(0px, 0px); opacity:0; }
    100%{ -moz-transform:translate(0px, 0px); opacity:0; }
}
@-ms-keyframes tip_cloud01_move{
    0%{ -ms-transform:translate(20px, 20px); opacity:0; }
    30%{ -ms-transform:translate(0px, 0px); opacity:1; }
    65%{ -ms-transform:translate(0px, 0px); opacity:1; }
    70%{ -ms-transform:translate(0px, 0px); opacity:0; }
    100%{ -ms-transform:translate(0px, 0px); opacity:0; }
}
@keyframes tip_cloud01_move{
    0%{ transform:translate(20px, 20px); opacity:0; }
    30%{ transform:translate(0px, 0px); opacity:1; }
    65%{ transform:translate(0px, 0px); opacity:1; }
    70%{ transform:translate(0px, 0px); opacity:0; }
    100%{ transform:translate(0px, 0px); opacity:0; }
}
.tip_cloud02{ display:block; width:57px; height:65px; background:url(http://img6.91huo.cn/101/k12/images/download/lunbo_script.png) no-repeat -106px -239px; position:absolute; top:310px; right:157px;
    -webkit-animation: tip_cloud02_move 3s ease-out 0.2s infinite;
    -moz-animation: tip_cloud02_move 3s ease-out 0.2s infinite;
    -ms-animation: tip_cloud02_move 3s ease-out 0.2s infinite;
    animation: tip_cloud02_move 3s ease-out 0.2s infinite;
}
@-webkit-keyframes tip_cloud02_move{
    0%{ -webkit-transform:translateY(20px); opacity:0; }
    30%{ -webkit-transform:translateY(0px); opacity:1; }
    65%{ -webkit-transform:translateY(0px); opacity:1; }
    70%{ -webkit-transform:translateY(0px); opacity:0; }
    100%{ -webkit-transform:translateY(0px); opacity:0; }
}
@-moz-keyframes tip_cloud02_move{
    0%{ -moz-transform:translateY(20px); opacity:0; }
    30%{ -moz-transform:translateY(0px); opacity:1; }
    65%{ -moz-transform:translateY(0px); opacity:1; }
    70%{ -moz-transform:translateY(0px); opacity:0; }
    100%{ -moz-transform:translateY(0px); opacity:0; }
}
@-ms-keyframes tip_cloud02_move{
    0%{ -ms-transform:translateY(20px); opacity:0; }
    30%{ -ms-transform:translateY(0px); opacity:1; }
    65%{ -ms-transform:translateY(0px); opacity:1; }
    70%{ -ms-transform:translateY(0px); opacity:0; }
    100%{ -ms-transform:translateY(0px); opacity:0; }
}
@keyframes tip_cloud02_move{
    0%{ transform:translateY(20px); opacity:0; }
    30%{ transform:translateY(0px); opacity:1; }
    65%{ transform:translateY(0px); opacity:1; }
    70%{ transform:translateY(0px); opacity:0; }
    100%{ transform:translateY(0px); opacity:0; }
}
.tip_cloud03{ display:block; width:87px; height:91px; background:url(http://img6.91huo.cn/101/k12/images/download/lunbo_script.png) no-repeat -164px -239px; position:absolute; top:251px; right:28px;
    -webkit-animation: tip_cloud03_move 3s ease-out 0.4s infinite;
    -moz-animation: tip_cloud03_move 3s ease-out 0.4s infinite;
    -ms-animation: tip_cloud03_move 3s ease-out 0.4s infinite;
    animation: tip_cloud03_move 3s ease-out 0.4s infinite;
}
@-webkit-keyframes tip_cloud03_move{
    0%{ -webkit-transform:translate(-20px, 20px); opacity:0; }
    30%{ -webkit-transform:translate(0px, 0px); opacity:1; }
    65%{ -webkit-transform:translate(0px, 0px); opacity:1; }
    70%{ -webkit-transform:translate(0px, 0px); opacity:0; }
    100%{ -webkit-transform:translate(0px, 0px); opacity:0; }
}
@-moz-keyframes tip_cloud03_move{
    0%{ -moz-transform:translate(-20px, 20px); opacity:0; }
    30%{ -moz-transform:translate(0px, 0px); opacity:1; }
    65%{ -moz-transform:translate(0px, 0px); opacity:1; }
    70%{ -moz-transform:translate(0px, 0px); opacity:0; }
    100%{ -moz-transform:translate(0px, 0px); opacity:0; }
}
@-ms-keyframes tip_cloud03_move{
    0%{ -ms-transform:translate(-20px, 20px); opacity:0; }
    30%{ -ms-transform:translate(0px, 0px); opacity:1; }
    65%{ -ms-transform:translate(0px, 0px); opacity:1; }
    70%{ -ms-transform:translate(0px, 0px); opacity:0; }
    100%{ -ms-transform:translate(0px, 0px); opacity:0; }
}
@keyframes tip_cloud03_move{
    0%{ transform:translate(-20px, 20px); opacity:0; }
    30%{ transform:translate(0px, 0px); opacity:1; }
    65%{ transform:translate(0px, 0px); opacity:1; }
    70%{ transform:translate(0px, 0px); opacity:0; }
    100%{ transform:translate(0px, 0px); opacity:0; }
}
.communi_animate{ display:block; width:340px; height:320px; overflow:hidden; position:absolute; top:200px; left:93px; }
.communi_animate .ca_wrap{ width:321px; height:320px; position:absolute; left:10px; overflow:hidden; background-color:#81da9f;
    -webkit-animation: ca_bg 3s ease-out infinite;
    -moz-animation: ca_bg 3s ease-out infinite;
    -ms-animation: ca_bg 3s ease-out infinite;
    animation: ca_bg 3s ease-out infinite;
}
.communi_animate .mask{ position:absolute; left:0; top:0; z-index:1; width:100%; height:100%; background:url(http://img5.91huo.cn/101/k12/images/download/bg_lunbo.png) no-repeat 0 0; }
.ca_mode{ display:block; width:960px; height:320px; position:relative; zoom:1; overflow:hidden;
    -webkit-animation: ca_mode_move 3s ease-out infinite;
    -moz-animation: ca_mode_move 3s ease-out infinite;
    -ms-animation: ca_mode_move 3s ease-out infinite;
    animation: ca_mode_move 3s ease-out infinite;
}
@-webkit-keyframes ca_bg{
    0%{ background-color:#81da9f; }
    15%{ background-color:#81da9f; }
    35%{ background-color:#b6e9e6; }
    65%{ background-color:#b6e9e6; }
    85%{ background-color:#81da9f; }
    100%{ background-color:#81da9f; }
}
@-moz-keyframes ca_bg{
    0%{ background-color:#81da9f; }
    15%{ background-color:#81da9f; }
    35%{ background-color:#b6e9e6; }
    65%{ background-color:#b6e9e6; }
    85%{ background-color:#81da9f; }
    100%{ background-color:#81da9f; }
}
@-ms-keyframes ca_bg{
    0%{ background-color:#81da9f; }
    15%{ background-color:#81da9f; }
    35%{ background-color:#b6e9e6; }
    65%{ background-color:#b6e9e6; }
    85%{ background-color:#81da9f; }
    100%{ background-color:#81da9f; }
}
@keyframes ca_bg{
    0%{ background-color:#81da9f; }
    15%{ background-color:#81da9f; }
    35%{ background-color:#b6e9e6; }
    65%{ background-color:#b6e9e6; }
    85%{ background-color:#81da9f; }
    100%{ background-color:#81da9f; }
}
@-webkit-keyframes ca_mode_move{
    0%{ -webkit-transform:translate(0px); }
    15%{ -webkit-transform:translate(0px); }
    35%{ -webkit-transform:translate(-320px); }
    65%{ -webkit-transform:translate(-320px); }
    85%{ -webkit-transform:translate(-640px); }
    100%{ -webkit-transform:translate(-640px); }
}
@-moz-keyframes ca_mode_move{
    0%{ -moz-transform:translate(0px); }
    15%{ -moz-transform:translate(0px); }
    35%{ -moz-transform:translate(-320px); }
    65%{ -moz-transform:translate(-320px); }
    85%{ -moz-transform:translate(-640px); }
    100%{ -moz-transform:translate(-640px); }
}
@-ms-keyframes ca_mode_move{
    0%{ -ms-transform:translate(0px); }
    15%{ -ms-transform:translate(0px); }
    35%{ -ms-transform:translate(-320px); }
    65%{ -ms-transform:translate(-320px); }
    85%{ -ms-transform:translate(-640px); }
    100%{ -ms-transform:translate(-640px); }
}
@keyframes ca_mode_move{
    0%{ transform:translate(0px); }
    15%{ transform:translate(0px); }
    35%{ transform:translate(-320px); }
    65%{ transform:translate(-320px); }
    85%{ transform:translate(-640px); }
    100%{ transform:translate(-640px); }
}

.ca_mode .ca_user01, .ca_mode .ca_user02{ display:inline; float:left; width:154px; height:254px; margin:66px 83px 0; background:url(http://img6.91huo.cn/101/k12/images/download/lunbo_script.png) no-repeat 0 -353px; }
.ca_mode .ca_user02{ background-position:-155px -352px; }

.ques_mode{ display:block; width:279px; height:70px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat 0 0; position:absolute; top:249px; right:179px;}
.ques_mode span.icon_voice{ display:block; width:279px; height:70px; position:relative; zoom:1;}
.ques_mode span.icon_voice ins{ display:block; width:29px; height:48px; background:url(http://img5.91huo.cn/101/k12/images/download/speaker.gif) no-repeat 0 0; position:absolute; top:11px; left:125px;
    -webkit-animation: icon_voice 4.5s linear infinite;
    -moz-animation: icon_voice 4.5s linear infinite;
    -ms-animation: icon_voice 4.5s linear infinite;
    animation: icon_voice 4.5s linear infinite;
}
@-webkit-keyframes icon_voice{
    0%{ opacity:0; }
    13%{ opacity:1; }
    78%{ opacity:1; }
    90%{ opacity:0; }
    100%{ opacity:0; }
}
@-moz-keyframes icon_voice{
    0%{ opacity:0; }
    13%{ opacity:1; }
    78%{ opacity:1; }
    90%{ opacity:0; }
    100%{ opacity:0; }
}
@-ms-keyframes icon_voice{
    0%{ opacity:0; }
    13%{ opacity:1; }
    78%{ opacity:1; }
    90%{ opacity:0; }
    100%{ opacity:0; }
}
@keyframes icon_voice{
    0%{ opacity:0; }
    13%{ opacity:1; }
    78%{ opacity:1; }
    90%{ opacity:0; }
    100%{ opacity:0; }
}
.ans_mode{ display:block; width:304px; height:197px; position:absolute; top:347px; right:46px;}
.ansm_con{ display:block; width:304px; height:197px; position:relative; zoom:1;}
.ansm_con .ansm_avatar{ display:block; width:71px; height:70px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat -280px 0; position:absolute; top:0; right:0;}
.ansm_info, .ansm_ans{ display:block; width:202px; height:197px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat -203px -120px; position:absolute; top:0; left:0;}
.ansm_info{ z-index:1; opacity:0; filter:alpha(opacity=0);
    -webkit-animation: ansm_info_show 4.5s linear infinite;
    -moz-animation: ansm_info_show 4.5s linear infinite;
    -ms-animation: ansm_info_show 4.5s linear infinite;
    animation: ansm_info_show 4.5s linear infinite;
}
@-webkit-keyframes ansm_info_show{
    0%{ opacity:1; }
    35%{ opacity:1; }
    50%{ opacity:0; }
    97%{ opacity:0; }
    100%{ opacity:1; }
}
@-moz-keyframes ansm_info_show{
    0%{ opacity:1; }
    35%{ opacity:1; }
    50%{ opacity:0; }
    97%{ opacity:0; }
    100%{ opacity:1; }
}
@-ms-keyframes ansm_info_show{
    0%{ opacity:1; }
    35%{ opacity:1; }
    50%{ opacity:0; }
    97%{ opacity:0; }
    100%{ opacity:1; }
}
@keyframes ansm_info_show{
    0%{ opacity:1; }
    35%{ opacity:1; }
    50%{ opacity:0; }
    97%{ opacity:0; }
    100%{ opacity:1; }
}
.ansm_ans{ background-position:0 -120px; }
.begin_infocon{ display:block; width:189px; height:146px; padding:51px 0 0; position:relative; zoom:1; background:url(http://img7.91huo.cn/101/k12/images/download/process.gif) no-repeat center center; }
.begin_infocon span.s1{ display:block; height:52px; width:189px; text-align:center; font-size:35px; color:#858a88;}
.begin_infocon span.process{ display:block; margin:19px auto 0; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat -30px -85px; width:123px; height:13px;}
.begin_infocon span.process span.process_ing{ display:block; height:13px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat -30px -71px;}

.circlewrap{ display:block; width:376px; height:376px; background:url(http://img3.91huo.cn/101/k12/images/download/bg_lunbo01.png) no-repeat 0 0; position:absolute; top:150px; left:60px;}
.circlecon{ display:block; width:376px; height:376px; position:relative; zoom:1;}
.circle_process{ display:block; width:376px; height:376px; background:url(http://img3.91huo.cn/101/k12/images/download/bg_lunbo01.png) no-repeat -376px 0; position:absolute; top:0; left:0;
    -webkit-animation: circle_process_rotate 3s linear infinite;
    -moz-animation: circle_process_rotate 3s linear infinite;
    -ms-animation: circle_process_rotate 3s linear infinite;
    animation: circle_process_rotate 3s linear infinite;
}
@-webkit-keyframes circle_process_rotate{
    0%{ -webkit-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes circle_process_rotate{
    0%{ -moz-transform:rotate(0deg); }
    100%{ -moz-transform:rotate(360deg); }
}
@-ms-keyframes circle_process_rotate{
    0%{ -ms-transform:rotate(0deg); }
    100%{ -ms-transform:rotate(360deg); }
}
@keyframes circle_process_rotate{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(360deg); }
}
.circle_ava01{ display:block; width:107px; height:107px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat 0 -408px; position:absolute; top:134px; left:134px; }
.circle_ava02{ display:block; width:89px; height:89px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat 0 -318px; position:absolute; top:266px; left:12px;
    -webkit-animation: circle_ava_trans 3s infinite 1.6s;
    -moz-animation: circle_ava_trans 3s infinite 1.6s;
    -ms-animation: circle_ava_trans 3s infinite 1.6s;
    animation: circle_ava_trans 3s infinite 1.6s;
}
.circle_ava03{ display:block; width:64px; height:64px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat -90px -318px; position:absolute; top:87px; left:85px;
    -webkit-animation: circle_ava_trans 3s infinite 2.3s;
    -moz-animation: circle_ava_trans 3s infinite 2.3s;
    -ms-animation: circle_ava_trans 3s infinite 2.3s;
    animation: circle_ava_trans 3s infinite 2.3s;
}
.circle_ava04{ display:block; width:82px; height:82px; background:url(http://img4.91huo.cn/101/k12/images/download/lunbo_script01.png) no-repeat -155px -318px; position:absolute; top:139px; right:8px;
    -webkit-animation: circle_ava_trans 3s infinite 0.4s;
    -moz-animation: circle_ava_trans 3s infinite 0.4s;
    -ms-animation: circle_ava_trans 3s infinite 0.4s;
    animation: circle_ava_trans 3s infinite 0.4s;
}
@-webkit-keyframes circle_ava_trans{
    0%{ opacity:0; -webkit-transform:scale(0.5); }
    20%{ opacity:1; -webkit-transform:scale(1); }
    9%{ opacity:1; -webkit-transform:scale(1); }
    100%{ opacity:0; -webkit-transform:scale(1); }
}
@-moz-keyframes circle_ava_trans{
    0%{ opacity:0; -moz-transform:scale(0.5); }
    20%{ opacity:1; -moz-transform:scale(1); }
    9%{ opacity:1; -moz-transform:scale(1); }
    100%{ opacity:0; -moz-transform:scale(1); }
}
@-ms-keyframes circle_ava_trans{
    0%{ opacity:0; -ms-transform:scale(0.5); }
    20%{ opacity:1; -ms-transform:scale(1); }
    9%{ opacity:1; -ms-transform:scale(1); }
    100%{ opacity:0; -ms-transform:scale(1); }
}
@keyframes circle_ava_trans{
    0%{ opacity:0; transform:scale(0.5); }
    20%{ opacity:1; transform:scale(1); }
    9%{ opacity:1; transform:scale(1); }
    100%{ opacity:0; transform:scale(1); }
}
.locationnwrap{ display:block; width:342px; height:342px; background:url(http://img5.91huo.cn/101/k12/images/download/bg_lunbo.png) no-repeat 0 -321px; position:absolute; top:218px; right:77px;}
.loca01{ display:block; width:96px; height:128px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat 0 0; position:absolute; top:177px; right:164px;}
.loca02{ display:block; width:96px; height:128px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat -97px 0; position:absolute; top:336px; right:301px;}
.loca03{ display:block; width:96px; height:128px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat 0 -129px; position:absolute; top:314px; right:93px;}
.loca01{
    -webkit-animation: loca_trans 4s ease-in-out infinite;
    -moz-animation: loca_trans 4s ease-in-out infinite;
    -ms-animation: loca_trans 4s ease-in-out infinite;
    animation: loca_trans 4s ease-in-out infinite;
}
.loca02{
    -webkit-animation: loca_trans 4s ease-in-out 0.3s infinite;
    -moz-animation: loca_trans 4s ease-in-out 0.3s infinite;
    -ms-animation: loca_trans 4s ease-in-out 0.3s infinite;
    animation: loca_trans 4s ease-in-out 0.3s infinite;
}
.loca03{
    -webkit-animation: loca_trans 4s ease-in-out 0.6s infinite;
    -moz-animation: loca_trans 4s ease-in-out 0.6s infinite;
    -ms-animation: loca_trans 4s ease-in-out 0.6s infinite;
    animation: loca_trans 4s ease-in-out 0.6s infinite;
}
@-webkit-keyframes loca_trans{
    0%{ opacity:0; -webkit-transform:translateY(20px) scale(0.5); }
    8%{ opacity:1; -webkit-transform:translateY(-30px) scale(1); }
    17%{ opacity:1; -webkit-transform:translateY(0px) scale(1); }
    52%{ opacity:1; -webkit-transform:translateY(0px) scale(1); }
    56%{ opacity:0; -webkit-transform:translateY(0px) scale(1); }
    100%{ opacity:0; -webkit-transform:translateY(0px) scale(1); }
}
@-moz-keyframes loca_trans{
    0%{ opacity:0; -moz-transform:translateY(20px) scale(0.5); }
    8%{ opacity:1; -moz-transform:translateY(-30px) scale(1); }
    17%{ opacity:1; -moz-transform:translateY(0px) scale(1); }
    52%{ opacity:1; -moz-transform:translateY(0px) scale(1); }
    56%{ opacity:0; -moz-transform:translateY(0px) scale(1); }
    100%{ opacity:0; -moz-transform:translateY(0px) scale(1); }
}
@-ms-keyframes loca_trans{
    0%{ opacity:0; -ms-transform:translateY(20px) scale(0.5); }
    8%{ opacity:1; -ms-transform:translateY(-30px) scale(1); }
    17%{ opacity:1; -ms-transform:translateY(0px) scale(1); }
    52%{ opacity:1; -ms-transform:translateY(0px) scale(1); }
    56%{ opacity:0; -ms-transform:translateY(0px) scale(1); }
    100%{ opacity:0; -ms-transform:translateY(0px) scale(1); }
}
@keyframes loca_trans{
    0%{ opacity:0; transform:translateY(20px) scale(0.5); }
    8%{ opacity:1; transform:translateY(-30px) scale(1); }
    17%{ opacity:1; transform:translateY(0px) scale(1); }
    52%{ opacity:1; transform:translateY(0px) scale(1); }
    56%{ opacity:0; transform:translateY(0px) scale(1); }
    100%{ opacity:0; transform:translateY(0px) scale(1); }
}
.pcwrap{ display:block; width:347px; height:276px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat 0 -258px; position:absolute; top:207px; left:39px;}
.pccon{ display:block; padding:26px 0 0 29px;}
.pc_avatar{ display:block; width:28px; height:28px; position:relative; zoom:1; overflow:hidden;}
.pc_avatar .mask{ position:absolute; left:0; top:0; width:100%; height:100%; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat -97px  -160px; }
.pc_avatar span.pc_userava{ display:block; width:19px; height:26px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat -97px -129px; position:absolute; top:3px; left:5px;
    -webkit-animation: pc_userava_move 2s ease-out infinite;
    -moz-animation: pc_userava_move 2s ease-out infinite;
    -ms-animation: pc_userava_move 2s ease-out infinite;
    animation: pc_userava_move 2s ease-out infinite;
}
@-webkit-keyframes pc_userava_move{
    0%{ opacity:0; top:30px; }
    25%{ opacity:1; top:3px; }
    80%{ opacity:1; top:3px; }
    100%{ opacity:0; }
}
@-moz-keyframes pc_userava_move{
    0%{ opacity:0; top:30px; }
    25%{ opacity:1; top:3px; }
    80%{ opacity:1; top:3px; }
    100%{ opacity:0; }
}
@-ms-keyframes pc_userava_move{
    0%{ opacity:0; top:30px; }
    25%{ opacity:1; top:3px; }
    80%{ opacity:1; top:3px; }
    100%{ opacity:0; }
}
@keyframes pc_userava_move{
    0%{ opacity:0; top:30px; }
    25%{ opacity:1; top:3px; }
    80%{ opacity:1; top:3px; }
    100%{ opacity:0; }
}
.mobilewrap{ display:block; width:117px; height:242px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat -194px 0; position:absolute; top:304px; left:312px;}
.mobiletxt_con{ display:block; width:117px; height:242px; position:relative; zoom:1;}
.mobiletxt_con .mobile_txt{ display:block; width:59px; height:20px; background:url(http://img5.91huo.cn/101/k12/images/download/lunbo_script02.png) no-repeat 0 -535px; position:absolute; top:89px; left:29px;
    -webkit-animation: mobile_txt_move 2.5s ease-in-out infinite;
    -moz-animation: mobile_txt_move 2.5s ease-in-out infinite;
    -ms-animation: mobile_txt_move 2.5s ease-in-out infinite;
    animation: mobile_txt_move 2.5s ease-in-out infinite;
}
@-webkit-keyframes mobile_txt_move{
    0%{ opacity:0; top:78px; }
    25%{ opacity:1; top:89px; }
    80%{ opacity:1; top:89px; }
    100%{ opacity:0; }
}
@-moz-keyframes mobile_txt_move{
    0%{ opacity:0; top:78px; }
    25%{ opacity:1; top:89px; }
    80%{ opacity:1; top:89px; }
    100%{ opacity:0; }
}
@-ms-keyframes mobile_txt_move{
    0%{ opacity:0; top:78px; }
    25%{ opacity:1; top:89px; }
    80%{ opacity:1; top:89px; }
    100%{ opacity:0; }
}
@keyframes mobile_txt_move{
    0%{ opacity:0; top:78px; }
    25%{ opacity:1; top:89px; }
    80%{ opacity:1; top:89px; }
    100%{ opacity:0; }
}

/*经营许可证*/
.license_wrapper{background: #fff;padding: 17px 0 25px;overflow: hidden;}
.license_wrapper h2{margin:30px 0;height: 32px; line-height:32px;overflow: hidden;padding-left: 36px;font-size: 18px;font-weight: normal;background: url(http://img4.91huo.cn/101/k12/images/page.gif) 0 0 no-repeat;}
.license_wrapper h2 span{display: inline-block;color: #000;}
.license_wrapper p{color: #000;font-size: 12px;line-height: 150%; text-align: center;}

/*关于我们-公司资讯*/
.recent_news{margin-top: 25px;}
.index_about {padding: 0 0 25px 0;color: #9b9b9b;font-size: 18px;line-height: 1.7;}
.index_about .left, .index_about .right {float: left;width: 45%;}
.index_about .left li {line-height: 40px;}
.index_about span {float: right;font-size: 16px;color: #737373;}
.index_about .left li a {font-size: 16px;color: #666;white-space: nowrap;overflow: hidden;width: 350px;display: block;text-overflow: ellipsis;float: left;}
.index_about .right {position: relative;overflow: hidden;padding-top: 22px;}
.index_about .right .news_box {position: relative;overflow: hidden;padding: 15px 0 36px 0;z-index: 1;}
.index_about .right .news_box li{width: 225px; height: 159px; float: left;}
.index_about .right .news_box a {font-size: 16px !important;color: #666;white-space: nowrap;overflow: hidden;width: 96%;display: block;text-overflow: ellipsis;background:none !important;}
.index_about .right .news_box a:hover{color: #5bd8d1;}
.index_about .right .news_box img{width: 216px;height: 121px;vertical-align: middle;}
.index_about .right .prev, .index_about .right .next {float: left;width: 23px;height: 23px;color: #5bd8d1;font-size: 36px;text-align: center;line-height: 16px;background: #eee;cursor: pointer; margin-top: 16px;}
.index_about .right .prev {margin-left: 385px;}
.index_about .right .next {margin-left: 10px;}
.index_about li a:hover {font-size: 16px;color: #5bd8d1;text-decoration: underline;}

/*公司资讯-列表页*/
.sub_content {float: right;width: 710px;min-height: 650px;padding: 0px 20px 0px 35px;border-left: 1px solid #d9d8d7;_overflow: hidden;}
.sub_sidebar {float: right;width: 236px;font-size: 14px;text-transform: uppercase;_overflow: hidden;}
.sub_sidebar h3 {padding-top: 46px;padding-bottom: 23px;color: #c0c0c0;font-size: 24px;line-height: 1;text-indent: 17px;}
.xus_event {padding: 30px 0;border-bottom: 1px dotted #bdbcbb;}
.xus_event dd {display: inline-block;float: left;width: 100%;margin-left: 15px;}
.xus_event h5, .xus_event h5 a {color: #2b2b2b;font: normal 20px/28px "MicroSoft YaHei";}
.xus_event p {color: #2b2b2b;font: normal 14px "MicroSoft YaHei";padding: 0;line-height: 2em;_width: 680px;}
.xus_event p.date {padding: 5px 0 12px;}
.xus_event p.date span {color: #5bd8d1;}
.side_nav {padding-left: 17px;}
.side_nav li {height: 58px;border-bottom: 1px solid #d9d8d7;line-height: 58px;}
.side_nav a {display: block;color: #3b3b3b;font-size: 16px;*padding-left:20px;}
.side_nav a span{display: none;}
.side_nav a:hover, .side_nav .current a {color: #5bd8d1;}
.side_nav a:hover span, .side_nav .current a span{display: inline-block;*display: inline;zoom:1;overflow: hidden;width: 20px;height: 61px;_height:58px;vertical-align: middle;font-size: 40px;text-indent: -12px;}
.page_div {float: right;margin-top: 20px;}
.page_div span.m, .page_div span.counts {display: inline;background: none;height: auto;border: none;}
.page_div a {float: left;display: block;padding: 0 10px;height: 20px;font-size: 12px;color: #2b2b2b;line-height: 20px;margin: 0 1px;}
.page_div a:hover, .page_div a.on {color: #fff;background: #5bd8d1;}

/*公司资讯-内容页*/
.news_content {width: 972px;padding: 0 15px;border: 0;}
.news_content img{max-width:1002px;}
.sub_content h3 {padding: 40px 0 20px;font-size: 28px;line-height: 1; color: #5bd8d1 !important;}
.title {background: #5bd8d1 url(http://img4.91huo.cn/101/k12/images/title.jpg) no-repeat;height: 104px;color: #ffffff;overflow: hidden;}
.title .wrapper {position: relative;}
.title h2 {font-size: 24px;line-height: 130px;text-indent: 15px;}
.crumb {position: absolute;bottom: 50px;right: 20px;font-size: 16px;line-height: 1;}
.crumb a {color: #fff;}
.crumb a, .crumb span {padding: 0 3px;text-transform: capitalize;}
.crumb a:hover {text-decoration: underline;}

center{
    display:none;
}